@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Nunito:wght@200&family=Oswald:wght@200;300&family=Pacifico&family=Source+Sans+Pro:wght@200;400&display=swap');

/* 

font-family: 'Josefin Sans', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Source Sans Pro', sans-serif;



*/


#nav ul > li > a 
{
  font-family: 'Josefin Sans', sans-serif;

}